html, body {
    height: 100%;
    margin: 0;
    font-family: Roboto,sans-serif;;
}

.background {
    height: 100vh;
    background-image: url("background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 8em;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 25px;
    margin: 0.1em;

}

.countdown {
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
}

.time-container {
    color: white;
    margin-right: 1.5em;
    margin-left: 1.5em;

}

.time {
    font-size: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.label {
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5em;
}

.footer {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.5em;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position:absolute;
    bottom:0;
    left:0;
}

h2 {
    margin-left: 1em;
}
